<div class="po-metrics">
  <metric-block [title]="'Entry Price'" [value]="'10.96 TON'" />
  <metric-block [title]="'Est. Liq. Price'" [value]="'9.96 TON'" />
  <metric-block
    [title]="'Last Price'"
    [value]="'+0.003%'"
    colorClass="main-color"
  />
  <metric-block [title]="'Position Size'" [value]="'10,300 TON'" />
  <metric-block [title]="'Take Profit'" [value]="'11 TON'" />
  <metric-block [title]="'Stop Loss'" [value]="'9 TON'" />
  <metric-block
    [title]="'Unrealized P&L'"
    [value]="'200 TON'"
    [percentage]="'+10%'"
    colorClass="main-color"
  />
</div>

<div class="po-metrics-mob">
  <metric-block-mob [title]="'Entry Price'" [value]="'10.96 TON'" />
  <metric-block-mob [title]="'Est. Liq. Price'" [value]="'9.96 TON'" />
  <metric-block-mob
    [title]="'Last Price'"
    [value]="'+0.003%'"
    colorClass="main-color"
  />
  <metric-block-mob [title]="'Position Size'" [value]="'10,300 TON'" />
  <metric-block-mob [title]="'Take Profit'" [value]="'11 TON'" />
  <metric-block-mob [title]="'Stop Loss'" [value]="'9 TON'" />
  <metric-block-mob
    [title]="'Unrealized P&L'"
    [value]="'200 TON'"
    [percentage]="'+10%'"
    colorClass="main-color"
  />
</div>
