<div class="search-pair-item">
  <div class="search-pair-item-icon-info">
    <div class="search-pair-item-icon-info-img">
      <img src="./assets/png/template-img.png" alt="NFT Icon" />
    </div>
    <div class="search-pair-item-icon-info-content">
      <div class="search-pair-item-icon-info-content-first">
        <p class="M-14 text-color">CN/TON</p>
        <div class="search-pair-item-icon-info-content-first-star">
          <img src="./assets/svg/star.svg" alt="Star Favorite" />
        </div>
      </div>
      <div class="search-pair-item-icon-info-content-second">144 000 TON</div>
    </div>
  </div>
  <div class="search-pair-item-metrics">
    <p class="search-pair-item-metric OS-12">2000 TON</p>
    <p
      class="search-pair-item-metric search-pair-item-metric-percent OS-12 main-color"
    >
      +9,56%
    </p>
  </div>
</div>
