.mt-5 {
  // Margin top 5px
  margin-top: 5px;
}
.mt-10 {
  // Margin top 10px
  margin-top: 10px;
}

.mb-5 {
  // Margin bottom 5px
  margin-bottom: 5px;
}
.mb-10 {
  // Margin bottom 10px
  margin-bottom: 10px;
}
.mb-20 {
  // Margin bottom 20px
  margin-bottom: 20px;
}
.mb-100 {
  // Margin bottom 100px
  margin-bottom: 100px;
}
