<aside class="position-control">
  <switch-position
    [positionType]="newPosition.PositionType"
    (positionTypeChange)="onPositionTypeChange($event)"
  ></switch-position>

  <switch-price-type
    [priceType]="newPosition.PriceType"
    [entryPrice]="newPosition.EntryPrice"
    (priceTypeChange)="onPriceTypeChange($event)"
    (entryPriceChange)="onEntryPriceChange($event)"
    [minimalAvailablePrice]="positionErrorsState.minimalAvailablePrice"
    (minimalAvailablePriceChange)="onMinimalAvailablePriceChange($event)"
  ></switch-price-type>

  <div class="position-control__balance-block">
    <p class="OS-14">Balance</p>
    <p class="OS-14">{{ balance }} TON</p>
  </div>

  <div class="mb-5">
    <input-t
      label="TON"
      placeholder="Amount"
      inputId="position-amount"
      [value]="newPosition.Margin"
      [max]="balance"
      (valueChange)="onPositionMarginChange($event)"
    >
    </input-t>
  </div>

  <div class="mb-5">
    <error-message
      *ngIf="positionErrorsState.minimalAvailableBalance"
      messageContent="Amount should be at least 0.1 TON"
    ></error-message>
  </div>

  <div class="position-control__buttons-p-block mb-10">
    <button-part
      [value]="1"
      buttonType="amount"
      [isActive]="activeMarginButton === 1"
      (valueChanged)="onPositionMarginPercentChange($event)"
    ></button-part>
    <button-part
      [value]="25"
      buttonType="amount"
      [isActive]="activeMarginButton === 25"
      (valueChanged)="onPositionMarginPercentChange($event)"
    ></button-part>
    <button-part
      [value]="50"
      buttonType="amount"
      [isActive]="activeMarginButton === 50"
      (valueChanged)="onPositionMarginPercentChange($event)"
    ></button-part>
    <button-part
      [value]="75"
      buttonType="amount"
      [isActive]="activeMarginButton === 75"
      (valueChanged)="onPositionMarginPercentChange($event)"
    ></button-part>
    <button-part
      [value]="100"
      buttonType="amount"
      [isActive]="activeMarginButton === 100"
      (valueChanged)="onPositionMarginPercentChange($event)"
    ></button-part>
  </div>

  <div class="mb-5">
    <input-t
      label="Leverage"
      placeholder="x1"
      inputId="position-leverage"
      [value]="newPosition.Leverage"
      [max]="maxLeverage"
      (valueChange)="onLeverageChange($event)"
    ></input-t>
  </div>

  <div class="mb-5">
    <error-message
      *ngIf="positionErrorsState.minimalAvailableLeverage"
      messageContent="Leverage should be at least x1"
    ></error-message>
  </div>

  <div class="position-control__buttons-p-block mb-20">
    <button-part
      [value]="10"
      buttonType="leverage"
      [isActive]="activeLeverageButton === 10"
      (valueChanged)="onLeverageChange($event)"
    ></button-part>
    <button-part
      [value]="20"
      buttonType="leverage"
      [isActive]="activeLeverageButton === 20"
      (valueChanged)="onLeverageChange($event)"
    ></button-part>
    <button-part
      [value]="30"
      buttonType="leverage"
      [isActive]="activeLeverageButton === 30"
      (valueChanged)="onLeverageChange($event)"
    ></button-part>
    <button-part
      [value]="40"
      buttonType="leverage"
      [isActive]="activeLeverageButton === 40"
      (valueChanged)="onLeverageChange($event)"
    ></button-part>
    <button-part
      [value]="50"
      buttonType="leverage"
      [isActive]="activeLeverageButton === 50"
      (valueChanged)="onLeverageChange($event)"
    ></button-part>
  </div>

  <label class="custom-checkbox mb-5">
    <span class="checkbox-label OS-16">TP/SL</span>
    <input type="checkbox" [(ngModel)]="isTPSL" />
    <span class="custom-checkmark"></span>
  </label>

  <div *ngIf="isTPSL" class="mb-10">
    <div class="position-control__balance-block">
      <p class="OS-14">Profit</p>
      <p class="take-profit-amount OS-14">
        +{{ this.newPosition.TakeProfitAmount?.toFixed(2) }} TON
      </p>
    </div>
    <div class="mb-5">
      <input-t
        label="Take Profit"
        placeholder="Price TON"
        inputId="position-take-profit"
        [value]="newPosition.TakeProfit"
        [decimalPlaces]="4"
        (valueChange)="calculateTakeProfitPrice($event)"
      />
    </div>
    <div class="mb-5">
      <error-message
        *ngIf="positionErrorsState.takeProfitMore"
        messageContent="Take profit should be greater than the entry price"
      ></error-message>
    </div>
    <div class="mb-5">
      <error-message
        *ngIf="positionErrorsState.takeProfitLess"
        messageContent="Take profit should be less than the entry price"
      ></error-message>
    </div>
    <div class="mb-5">
      <error-message
        *ngIf="positionErrorsState.minimalAvailableTakeProfit"
        messageContent="Take profit should be greater than 0.1"
      ></error-message>
    </div>
    <div class="mb-10">
      <custom-range
        rangeType="tp"
        [value]="this.newPosition.TakeProfitPercent || 0"
        [max]="200"
        (valueChange)="onTakeProfitPercentChange($event)"
      />
    </div>
    <div class="position-control__balance-block">
      <p class="OS-14">Loss</p>
      <p class="stop-loss-amount OS-14">
        -{{ this.newPosition.StopLossAmount?.toFixed(2) }} TON
      </p>
    </div>
    <div class="mb-5">
      <input-t
        label="Stop Loss"
        placeholder="Price TON"
        inputId="position-stop-loss"
        [value]="newPosition.StopLoss"
        [decimalPlaces]="4"
        (valueChange)="calculateStopLossPrice($event)"
      />
    </div>
    <div class="mb-5">
      <error-message
        *ngIf="positionErrorsState.stopLossMore"
        messageContent="Stop Loss should be less than the entry price"
      ></error-message>
    </div>
    <div class="mb-5">
      <error-message
        *ngIf="positionErrorsState.stopLossLess"
        messageContent="Stop Loss should be greater than the entry price"
      ></error-message>
    </div>
    <div class="mb-5">
      <error-message
        *ngIf="positionErrorsState.minimalAvailableStopLoss"
        messageContent="StopLoss should be greater than 0.1"
      ></error-message>
    </div>
    <div>
      <custom-range
        rangeType="sl"
        [value]="this.newPosition.StopLossPercent || 0"
        [max]="100"
        (valueChange)="onStopLossPercentChange($event)"
      />
    </div>
  </div>

  <position-metrics
    [positionSize]="this.newPosition.Margin * this.newPosition.Leverage"
    [entryPrice]="this.newPosition.EntryPrice"
    [liquidationPrice]="this.newPosition.Liquidation"
    [priceImpact]="0.0"
    [approximatePriceTP]="this.newPosition.TakeProfit || 0"
    [approximatePriceSL]="this.newPosition.StopLoss || 0"
    [fees]="this.newPosition.Fees"
  />

  <button-position
    [dissabled]="
      positionErrorsState.minimalAvailableBalance ||
      positionErrorsState.minimalAvailableLeverage ||
      positionErrorsState.minimalAvailablePrice ||
      positionErrorsState.minimalAvailableStopLoss ||
      positionErrorsState.minimalAvailableTakeProfit ||
      positionErrorsState.stopLossLess ||
      positionErrorsState.stopLossMore ||
      positionErrorsState.takeProfitLess ||
      positionErrorsState.takeProfitMore
    "
    *ngIf="wallet"
    [positionType]="this.newPosition.PositionType"
  />

  <button-connect-main *ngIf="!wallet" />
</aside>
