<div class="position-order-component">
  <switcher-section
    [sections]="sections"
    [activeSection]="activeSection"
    (updateActiveSection)="toggleSection($event)"
  />
  <div
    class="position-order-component__content-empty"
    *ngIf="isEmpty || !wallet"
  >
    <button-connect *ngIf="!wallet" />
    <p
      *ngIf="wallet && activeSection === 'open-position'"
      class="M-m16 text-color"
    >
      No Open Positions
    </p>
    <p
      *ngIf="wallet && activeSection === 'position-history'"
      class="M-m16 text-color"
    >
      No Positions History
    </p>
    <p
      *ngIf="wallet && activeSection === 'open-orders'"
      class="M-m16 text-color"
    >
      No Open Orders
    </p>
    <p
      *ngIf="wallet && activeSection === 'orders-history'"
      class="M-m16 text-color"
    >
      No Orders History
    </p>
  </div>
  <div
    class="position-order-component__content"
    *ngIf="!isEmpty && activeSection === 'open-position' && wallet"
  >
    <p-open-item />
    <p-open-item />
    <p-open-item />
    <p-open-item />
    <p-open-item />
    <p-open-item />
    <p-open-item />
    <p-open-item />
    <p-open-item />
    <p-open-item />
  </div>
  <div
    class="position-order-component__content"
    *ngIf="!isEmpty && activeSection === 'position-history' && wallet"
  >
    <p-history-item />
    <p-history-item />
    <p-history-item />
    <p-history-item />
  </div>
  <div
    class="position-order-component__content"
    *ngIf="!isEmpty && activeSection === 'open-orders' && wallet"
  >
    <o-open-item />
    <o-open-item />
    <o-open-item />
    <o-open-item />
  </div>
  <div
    class="position-order-component__content"
    *ngIf="!isEmpty && activeSection === 'orders-history' && wallet"
  >
    <o-history-item />
    <o-history-item />
    <o-history-item />
    <o-history-item />
  </div>
</div>
