<div class="switch-price-block">
  <div class="switch-price-type-block">
    <div
      #selectPriceType
      (click)="toggleSelectPriceType()"
      class="switch-price-type"
    >
      <p class="M-m18">
        {{ priceType }}
      </p>
      <img src="./assets/svg/arrow-gray.svg" alt="Arrow" />
    </div>
    <div #listPriceType class="switch-price-type-list">
      <div
        (click)="setPriceType(item)"
        class="switch-price-type-item M-16"
        *ngFor="let item of priceTypesArr"
      >
        {{ item }}
      </div>
    </div>
  </div>

  <div *ngIf="priceType === 'Limits'" class="mt-10">
    <input-t
      label="TON"
      placeholder="Amount"
      inputId="limit-price"
      [value]="entryPrice"
      [decimalPlaces]="4"
      (valueChange)="onEntryPriceChange($event)"
      [isAdaptive]="isAdaptive"
    ></input-t>
  </div>
  <div class="mt-5" *ngIf="minimalAvailablePrice">
    <error-message
      messageContent="Amount should be at least 0.1 TON"
    ></error-message>
  </div>
</div>
