<div class="po-metrics">
  <metric-block [title]="'Price'" [value]="'11.96 TON'" />
  <metric-block [title]="'Position Size'" [value]="'10,300 TON'" />
  <metric-block [title]="'Take Profit'" [value]="'11 TON'" />
  <metric-block [title]="'Stop Loss'" [value]="'9 TON'" />
</div>

<div class="po-metrics-mob">
  <metric-block-mob [title]="'Price'" [value]="'11.96 TON'" />
  <metric-block-mob [title]="'Position Size'" [value]="'10,300 TON'" />
  <metric-block-mob [title]="'Take Profit'" [value]="'11 TON'" />
  <metric-block-mob [title]="'Stop Loss'" [value]="'9 TON'" />
</div>
