@import "./app/globalStyles/reset", "./app/globalStyles/colors",
  "./app/globalStyles/fonts", "./app/globalStyles/mixins",
  "./app/globalStyles/buttons", "./app/globalStyles/indents.scss",
  "./app/globalStyles/metrics.scss";

body {
  background: var(--bg-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  @include Montserrat(14px, 400, 130%, 3%);
}

.no-scroll {
  overflow: hidden;
}
.no-scroll-menu {
  overflow: hidden;
}

// For global custom scroll
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color-gray);
  border-radius: 10px;
}

// For global dialog::backdrop
dialog::backdrop {
  background-color: rgba(0, 0, 10, 0.8);
}
