.confirm-modal {
  text-align: center;
  color: var(--text-color);
  width: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color3);
  border: 1px solid var(--border-color-gray);
  border-radius: 12px;
  padding: 20px;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
}

button-custom {
  width: 100%;
}

@media (max-width: 560px) {
  .confirm-modal {
    width: 300px;
  }
}
