<div class="search-pair-component">
  <div class="search-pair-component__head mb-10">
    <div class="search-pair-component__head-block">
      <div class="search-pair-component__head-block-icon">
        <img src="./assets/svg/search.svg" alt="Search Icon" />
      </div>
      <input
        class="search-pair-component__head-block-input M-14"
        type="text"
        placeholder="Search"
      />
    </div>
    <button
      (click)="toggleSelectTradePair()"
      class="search-pair-component__head-close"
    >
      <span class="search-close search-close-1"></span>
      <span class="search-close search-close-2"></span>
    </button>
  </div>
  <switcher-section
    [sections]="sections"
    [activeSection]="activeSection"
    (updateActiveSection)="toggleSection($event)"
  />
  <div class="search-pair-component__type-currency mb-10">
    <div
      (click)="toggleCurrencyType('ton')"
      class="search-pair-component__type-currency-item"
      [ngClass]="{ active: currencyType === 'ton' }"
    >
      <p class="search-pair-component__type-currency-item-text M-m16">Ton</p>
    </div>
    <div
      (click)="toggleCurrencyType('usdt')"
      class="search-pair-component__type-currency-item"
      [ngClass]="{ active: currencyType === 'usdt' }"
    >
      <p class="search-pair-component__type-currency-item-text M-m16">USDT</p>
    </div>
  </div>
  <div class="search-pair-component__metrics-line mb-10">
    <p class="OS-14 text-color">Name / Volume (24h)</p>
    <div class="search-pair-component__metrics-line-end">
      <p class="OS-15 text-color">Last price</p>
      <p class="OS-14 text-color">Price change(24h)</p>
    </div>
  </div>
  <div class="search-pair-component__nfts-list">
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
    <pair-item />
  </div>
</div>
